body{
    margin: 0;
    background-image: url(images/header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

header{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    height: 90vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 4vh;
}

header nav .menu{
    display: flex; 
    background-color: #fff;
    color: #000; 
    padding: 1vh 2vw;
    align-items: center;
    border-radius: 25px;
}

header nav .menu span{
    padding-right: 1vw;
}

header nav .contact-about a{
    text-decoration: none;
    color: #fff;
    padding-left: 2vw;
}

header .header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

header .header-text h1{
    margin: 0 auto;
}

.feature{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

.feature .feature-parag{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.feature .paragraph-title{
    width: 50%;
}

.feature .feature-parag .statistiques{
    display: flex;
    justify-content: space-between;
}

/* small screens under 480px width */
@media (min-width: 374px) and (max-width: 480px){
    body{
        background-image: contain;
    }
    header{
       height: 30vh;
       background: rgba(50, 125, 237, 0.001);
       backdrop-filter: blur(10px);
       display: flex;
       flex-direction: column;
       margin-bottom: 0;
    }
    header nav{
       align-items: center;
    }
    header nav .contact-about{
        display: none;
    }  
    header nav .menu{
        width: 112px;
        justify-content: center;
        font-size: 1.2rem;
    }  

    header .header-text{
        display: flex;
        flex-direction: column;
        color: #fff;
        border-radius: 10px;
        width: 90%;
        margin: 0 auto;
    } 

    header .header-text p{
        text-align: center;
        text-shadow: 5px 5px 10px, blue;
        color: #000068;
    }  

    .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3vw;
        width: 90%;
    } 
    .feature .feature-parag{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .feature .paragraph-title{
        /* display: flex; */
        width: 100%;
        /* margin: auto; */
        /* justify-content: center; */
        /* text-align: center; */
        
    }
    .feature .paragraph-title h2{
        /* width: 100%; */
        text-align: center;
        font-size: 2.3rem;
        
    }
    .feature .feature-parag .paragraph{
        width: 100%;
        font-size: 1.2rem;
        
    }
    
    .feature .feature-parag .statistiques{
        display: flex;
        justify-content: space-between;
    }
    
        
    
  }
  




